@model nafCine.ViewModels.LoginViewModel
<div class="registration-wrapper">

 <div class="registration-container">

<h2>Đăng Nhập</h2>

@if (TempData["SuccessMessage"] != null)
{
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
    <div class="container">
    <form asp-action="Login" asp-route-returnurl = "@ViewBag.ReturnUrl" method="post">
    
        <div>
            <label>Email:</label>
            <input asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label>Mật khẩu:</label>
            <input asp-for="Password" type="password" class="form-control" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Đăng Nhập</button>
    </form>
    </div>  
</div>
    
    <div class="logo-container">
        <span class="logo-text">nafCinema</span>
        <p class="text-center">Enjoy your life</p>
    </div>
</div>  